@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* [Figma] white | neutral/0 */
  --background: 0 0% 100%;
  /* [Figma] neutral/800 */
  --foreground: 0, 0%, 15%;

  /* [Figma] brand/50 */
  --muted: 180 35% 94%;
  /* [Figma] neutral/800 */
  --muted-foreground: var(--foreground);

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 0 0% 15%;
  --primary-foreground: 0 0 100%;

  --secondary: 0 0% 96%;
  --secondary-foreground: 0 0% 9%;

  /* [Figma] #007878 */
  --brand-green-primary: 180 100% 24%;
  /* [Figma] white | neutral/0 */
  --brand-green-primary-foreground: var(--primary-foreground);

  /* [Figma] #FF8D93 */
  --brand-red-primary: 357 100% 78%;
  /* [Figma] white | neutral/0 */
  --brand-green-primary-foreground: var(--primary-foreground);

  /* [Figma] Background secondary | neutral/50  */
  --accent: 0 0% 98%;
  /* [Figma] neutral/600 */
  --accent-foreground: 0 0% 32%;

  /* [Figma] red/50 */
  --destructive: 0 75% 97%;
  /* [Figma] red/800 */
  --destructive-foreground: 357 66% 39%;

  --radius: 12px;

  --shadow: 0 0% 0% / 0.08;
}

/* .dark:root {
  --background: 224 71% 4%;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: 224 71% 4%;
    /* [Figma] neutral/100 */
    --foreground: 0, 0%, 96%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    /* [Figma] neutral/700 */
    --border: 0 0% 25%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 0 0% 89%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 96%;

    /* [Figma] red/900 */
    --destructive: 357 67% 25%;
    /* [Figma] red/300 */
    --destructive-foreground: 357 100% 85%;

    --ring: 216 34% 17%;

    /* [Figma] neutral/800  */
    --accent: 0 0% 15%;

    /* [Figma] neutral/600 */
    --accent-foreground: 0 0% 83%;
  }
}
